<!DOCTYPE html>
<html ng-app="ticTacToeApp" lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/main.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/GameController.js"></script>
	</head>
	<body ng-controller="GameController">

		<div>
			<h1>PLAY NOW!</h1>
        	<div class="input" ng-click="move($index)" ng-repeat="block in game.board track by $index">
            	<h3>{{getSymbol($index)}}</h3>
        	</div>
    	</div>
    	


			<div id="score">
				<p>Your Win Total:__{{yourWins}}<p>
				<p>Opponent Win Total:__{{oppWins}}</p>
			</div>
		</div>
	</body>
</html>